/* https://coolors.co/1f0322-8a1c7c-da4167-f0bcd4-899d78 */

@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

* {
    margin: 0;
}
/* Ids */

#content {
    background-color: 1F0322;
    overflow: hidden;
}

/* Classes */

.hover-mouse:hover {
    cursor: pointer;
}

.nodisp {
    position: absolute;
    top: -100vh;
}

.footer {
    position: absolute;
    padding: 10px;
    bottom: 0;
    left: 0;
}

/* Elements */

audio {
    display: none;
}

h1, h1:hover {
    font-size: 10vh !important;
    line-height: 10vh !important;
}