@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    color: white;
    display: inline-block;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#header {
    background: linear-gradient(-90deg, #346751, transparent);
    width: 81vw;
    border-top-right-radius: 100pc;
    border-bottom-right-radius: 100pc;
}

#nav {
    background: linear-gradient(90deg, #c84b31, transparent);
    margin-left: 19vw;
    padding-left: 1;
    width: 81vw;
    border-top-left-radius: 100pc;
    border-bottom-left-radius: 100pc;
}

#content-header, #main-content {
    margin-left: 20vw;
    margin-top: 5vh;
    width: 60vw;
    height: auto;
    background: #ecdbba;
}

#main-content {
    margin-top: 0;
    padding-top: 10px;
}

.left-title {
    color: black;
    display: inline-block;
    text-align: left;
}

.right-title {
    color: black;
    display: inline-block;
    text-align: right;
}

.paragraph {
    color: black;
}